#numberlabel{
    display: block;
    text-align: center;
    font-size: 10em;
}
#container{
    text-align: center;

}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(55, 180, 243);
    border-radius: 5px;
    cursor: pointer;
}